.html{
     margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-color: rgba(39, 19, 19, 0.37);
}

header{
 background-color: rgb(24, 22, 22);
 display: flex;
 justify-content:space-between;
color: gold;
text-decoration: solid;
align-items: center;
padding: 0px 100px;
border-top: solid red 5px;
}

header a {
color: rgb(255, 217, 1);
text-decoration: none;
margin-right: 30px;
font-size: 20px;
}

header nav :hover{
    background-color:red;
    transition: 0,1ms;
    
}

footer{
    padding: 100px 200px 50px 30px;
    margin: 200px 0px 10px 0;
    background-color: rgba(5, 5, 5, 0.192);
    text-align: center;
}

h2{
    text-transform: uppercase;
}

footer div{
    font-weight: 700;

}

.formachtergrond{
    display: flex;
    justify-content: center;
    align-items: center;
   height: 70vh;
}

.form{
    display: block;
    margin: 15px 0px;
    width: 400px;
    box-sizing: border-box;
    font-family: Verdana, sans-serif; font-size: 18px; color: black;
}
form{
    margin: 10px;
    padding: 0px;
}

h1{
    margin:0px;
}
embed{
   width: 800px;
    padding:0px;
    height:250px
}
img{

    width: 150px;
   margin: 20px;}

 @media screen and (min-width: 0px) and (max-width: 600px) {
    body {
       background-color: red;
    }
    header {
        display: inline-block;
        margin: 60px;
        line-height: 30px;   
        padding: 20px;
    }
    header a{
        font-size: 15px;
    }
    section div h3 p{
        font-size: 300px;
    }               
    embed {
        width: 495px;
    }
    img{
        justify-items: center;
        align-items: center;
        text-align: center;
        margin: 100px;
    }
    form{
        margin: 10px;
        justify-content: center;
    }

    .formachtergrond {
        margin-top: 0px;
    }
 footer {
    justify-items: center;
    margin: 20px;
}

.footer{
justify-items: center;
padding: 5px;
}
 }
   @media screen and (min-width:600px) and (max-width:991px) {
    body {
        background-color: red;
    }
   }

